<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Final - Gmail Clone</title>
  </head>
  <body>
    <!-- Header Starts -->
    <div class="header">
      <div class="header__left">
        <span class="material-icons"> menu </span>
        <img src="{% static 'images/email_logo.jpg' %}" alt="" />
      </div>

      <div class="header__middle">
        <span class="material-icons"> search </span>
        <input type="text" placeholder="Mail analytics" />
        <span class="material-icons"> arrow_drop_down </span>
      </div>

      <div class="header__right">
        <span class="material-icons"> account_circle </span>
      </div>
    </div>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="main__body">
      <!-- Sidebar Starts -->
      <div class="sidebar">
        <button class="sidebar__compose">
          <span class="material-icons"> add </span>Compose
        </button>
        <div class="sidebarOption ">
          <span class="material-icons"> inbox </span>
          <a href="{% url 'index' %}"><h3>Inbox</h3></a>
        </div>
 
        <div class="sidebarOption">
          <span class="material-icons"> star </span>
          <a href="{% url 'important' %}"><h3>Important</h3></a>
        </div>

        <div class="sidebarOption sidebarOption__active">
          <span class="material-icons"> access_time </span>
          <a href="{% url 'officemail' %}"><h3>Office mails</h3></a>
        </div>

        <div class="sidebarOption">
          <span class="material-icons"> label_important </span>
          <a href="{% url 'advertisment' %}"> <h3>Advertisment</h3></a>
        </div>

        <div class="sidebarOption">
          <span class="material-icons"> near_me </span>
          <a href="{% url 'event' %}"> <h3>Events</h3></a>
        </div>

        <div class="sidebarOption">
          <span class="material-icons"> note </span>
          <a href="{% url 'invitation' %}"> <h3>Invitations</h3></a>
        </div>

        <div class="sidebarOption">
          <span class="material-icons"> expand_more </span>
          <a href="{% url 'formsfillups' %}"><h3>formsfillups</h3></a>
        </div>
      </div>
      <!-- Sidebar Ends -->

      <!-- Email List Starts -->
      <div class="emailList">
        <!-- Settings Starts -->
        <div class="emailList__settings">
          <div class="emailList__settingsLeft">
            <input type="checkbox" />
            <span class="material-icons"> arrow_drop_down </span>
            <span class="material-icons"> redo </span>
            <span class="material-icons"> more_vert </span>
          </div>
          <div class="emailList__settingsRight">
            <span class="material-icons"> chevron_left </span>
            <span class="material-icons"> chevron_right </span>
            <span class="material-icons"> keyboard_hide </span>
            <span class="material-icons"> settings </span>
          </div>
        </div>
        <!-- Settings Ends -->

        <!-- Section Starts -->

        <!-- Section Ends -->

        <!-- Email List rows starts -->
        <div class="emailList__list">
          <!-- Email Row Ends -->
        </div>
        <!-- Email List rows Ends -->
      </div>
      <!-- Email List Ends -->
    </div>
    <!-- Main Body Ends -->
  </body>
</html>
